/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://s3-ap-south-1.amazonaws.com/ricedigitals3bucket/AUPortalContent/2021/05/31112658/Untitled-design-34.png'); /* Path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
    color: #333; /* Text color */
    margin: 0; 
    padding: 0;
}

/* Form Container */
#alumni-registration-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h2 {
    text-align: center;
    color: #ff8c00;
}

h3 {
    margin-top: 20px;
    border-bottom: 2px solid #ff8c00;
    padding-bottom: 5px;
}

/* Labels */
label {
    display: block;
    margin: 10px 0 5px;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="url"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Checkboxes */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Submit Button */
input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #ff6f00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

